.flex-container {
    position: fixed;
    display: flex;
    margin: 0 -5px;
    height: 20vh;
    width: 100vh;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -50vh;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0.95;
  }

  .flex-container-column {
    position: fixed;
    flex-direction: column;
    display: flex;
    width: 100vh;
    top: 10%;
    justify-content: center;
    align-items:stretch;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0.95;
    max-height: 88vh;
  }

  .flex-container-error {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0 -5px;
    height: 20vh;
    width: 100vh;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -50vh;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0.95;
  }
  .flex-container-top {
    position: relative;
    display: flex;
    width: 100vh;
    height: 5vh;
    top: 10%;
    justify-content: space-between;
    align-items:center;
    background-color: whitesmoke;
    border-radius: 10px;
    max-height: 88vh;
  }


  .scrollable-content {
    flex-grow: 1;
    overflow: auto;
    /* for Firefox */
    min-height: 0;
    scrollbar-width: none;
  }
  .outer_container {
    display: flex;
    justify-content: center;  /* vertical alignment */
    align-items: center;      /* horizontal alignment */
  }
