{% extends "burst_app/home.html" %}

{% block content %}
<div class="flex-container-error">
    <div class="alert alert-danger" role="alert">
        {{ error}}
    </div>
    <div style="justify-content: center; align-items:center;">
        <a class="btn btn-primary" href="/report" role="button">Назад</a>
    </div>
  </div>
</div>
{% endblock %}