{% extends "burst_app/base.html" %}

{% block header %}
<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'report' %}" class="nav-link px-2 text-white">Отчет</a></li>
      <li><a href="{% url 'rate' %}" class="nav-link px-2 text-white">Справочник</a></li>
      <!-- <li><a href="{% url 'report' %}" class="nav-link px-2 text-white">Settings</a></li>
      <li><a href="#" class="nav-link px-2 text-white">History</a></li> -->
    </ul>

    <div class="text-end">
      <button type="button" class="btn btn-warning" onclick="window.location.href='../logout';">Sign out</button>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}{% endblock %}
