{% load widget_tweaks %} 

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'burst_app/assets/img/favicon.ico' %}"/>
    
    <title>Burst Parser</title>
  </head>
  <body class="text-center">
<link rel="stylesheet" type="text/css" href="{% static 'burst_app/assets/css/signin.css' %}">
<main class="form-signin">
    <form method="post" action="{% url 'login' %}" class="form">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'burst_app/assets/img/bootstrap-logo.svg' %}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Authorization error.<br></strong>Check your credentials.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% for field in form %}
      {% if field.name != 'remember_me' %}
      <div class="form-floating">
        {% render_field field placeholder=field.label class+="form-control" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      </div>
      {% endif %}
      {% endfor %}
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember_me" value="remember_me"> Remember me
        </label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      
    </form>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  -->
</body>
</html>