{% extends "burst_app/base.html" %}

{% load static %}

{% block header %}
<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li>Burst parser</li>
    </ul>

    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/';">Login</button>
    </div>
  </div>
</div>
{% endblock %}