{% extends "burst_app/home.html" %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }    
    table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
    table.table .form-control.error {
        border-color: #f50000;
    }
    table.table td .add {
        display: none;
    }
</style>
<div class="flex-container-column">
    <div class="flex-container-top">
        <button type="button" class="btn btn-primary add-new" style="margin-left: 1vh; margin-top: 1vh; border-radius: 10px;"><i class="fa fa-plus"></i> Add New</button>
        <h5 style="text-align: center;">Справочник тарификации</h5>
        <button type="button btn-primary" onClick="window.location.reload();" class="btn btn-success" style="margin-right: 1vh; margin-top: 1vh; border-radius: 10px;">Обновить</button>
    </div>
    <div class="scrollable-content" style="overflow: auto; flex-grow: 1; min-height: 0;">
        <table class="table table-striped table-hover table-borderless">
            <thead>
                <tr>
                    <th>ISP</th>
                    <th>Quote (Mb)</th>
                    <th>Amount (₽)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rate_rows %}
                <tr>
                    <td>{{ row.isp }}</td>
                    <td>{{ row.quote }}</td>
                    <td>{{ row.cost }}</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    function sendPost(variable) {
        const Http = new XMLHttpRequest();
        const url='{% url "rate" %}';
        Http.open("POST", url);
        Http.setRequestHeader('X-CSRFToken', csrftoken);
        Http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        Http.send(JSON.stringify(variable));
    }
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        if(!$("table td:last-child").html()){
            var actions = `<a class="add" title="" data-toggle="tooltip" data-original-title="Add"><i class="material-icons"></i></a>
            <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons"></i></a>
            <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"></i></a>`;
        } else{
            var actions = $("table td:last-child").html();
        }
        // Append table with add row form on add new button click
        $(".add-new").click(function(){
            $(this).attr("disabled", "disabled");
            var index = $("table tbody tr:last-child").index();
            var form = `{% for line in form %}
                    <td>{{ line }}</td>
                    {% endfor %}`;
            var row = '<tr>' +
                form +
                '<td>' + actions + '</td>' +
            '</tr>';
            $("table").append(row);		
            $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(document).on("click", ".add", function(){
            var empty = false;
            var input = $(this).parents("tr").find('input');
            input.each(function(){
                if(!$(this).val()){
                    $(this).addClass("error");
                    empty = true;
                } else{
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if(!empty){
                let arr = new Array();
                input.each(function(){
                    $(this).parent("td").html($(this).val());
                    arr.push($(this).val());
                });
                sendPost({
                    'isp': arr[0],
                    'quote': arr[1],
                    'cost': arr[2],
                    'del': false
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").removeAttr("disabled");
            }		
        });
        // Edit row on edit button click
        $(document).on("click", ".edit", function(){		
            $(this).parents("tr").find("td:not(:last-child)").each(function(){
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });		
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", ".delete", function(){
            // console.log(Object.values($(this).parents("tr"))[0].cells[0].innerText);
            let isp = Object.values($(this).parents("tr"))[0].cells[0].innerText;
            sendPost({
                    'isp': isp,
                    'del': true
                });
            $(this).parents("tr").remove();
            $(".add-new").removeAttr("disabled");
        });
    });
</script>
{% endblock %}
