{% extends "burst_app/home.html" %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}

{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
  <div class="flex-container">
    <div class="mb-3" style="flex-basis: 350px; margin: 0 10px;">
      <input class="form-control" type="file" name="myfile" id="formFile", required="True">
    </div>
    <div class="mb-3" style="margin: 0 2px;">
      {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
      {{ monthpicker_form }}            {# Adds date-picker required JS and CSS #} 
      {{ monthpicker_form.media }} 
    </div> 
    <div class="mb-3" style="margin: 0 10px;" id="calc">
      <button type="submit" name="submit" value="Upload" class="btn btn-primary" id="calc_btn" >Рассчитать</button>
    </div>
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem; display: none;" id="spinner">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</form>
<script>
$(document).ready(function(){
  $('form').on("submit",function(){
    if($('#calc').css('display')!='none'){
        $('#spinner').show().siblings('div').hide();
        }else if($('#spinner').css('display')!='none'){
            $('#calc').show().siblings('div').hide();
        }
    });
});
</script>
  <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table> -->
{% endblock %}