{% extends "burst_app/home.html" %}

{% block content %}
<div class="flex-container-column">
  <div class="flex-container-top">
    <a class="btn btn-primary" href="{% url 'report' %}" role="button" style="margin-left: 1vh; margin-top: 1vh; border-radius: 9px;">Назад</a>
    <h5 style="text-align: center;">Отчет за {{ date.month}}. {{date.year}}</h5>
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 1vh; margin-top: 1vh; border-radius: 9px;">
        Действия
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'download' %}">Cохранить как XLSX</a></li>
        <li><a class="dropdown-item" href="#">Выставить счёт в Billing</a></li>
      </ul>
    </div>
  </div>
  <div class="scrollable-content" style="overflow: auto; flex-grow: 1; min-height: 0;">
    <table class="table table-striped table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ISP</th>
          <th scope="col">Traffic direction</th>
          <th scope="col">Burst (Mb)</th>
          <th scope="col">Quote (Mb)</th>
          <th scope="col">Excess (Mb)</th>
          <th scope="col">Amount (₽)</th>
        </tr>
      </thead>
      <tbody>
        {% for line in correct_result %}
        {% if line.6 == None %}
        <tr title="{{ line.4 }}" class="table-danger">
        {% elif line.6 > 0 %}
        <tr title="{{ line.4 }}" class="table-warning">
        {% else %}
        <tr title="{{ line.4 }}">
        {% endif %}
          <th scope="row">{{ line.0 }}</th>
          <td>{{ line.1 }}</td>
          <td>{{ line.2 }}</td>
          <td>{{ line.3 }}</td>
          <td>{{ line.5 }}</td>
          <td>{{ line.6 }}</td>
          <td>{{ line.7 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if incorrect_result %}
    <br><br>
    <table class="table table-striped table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col">ISP</th>
          <th scope="col">Days mismatch to full month</th>
        </tr>
      </thead>
      <tbody>
        {% for line in incorrect_result %}
        <tr title="{{ line.4 }}">
          <th scope="row">{{ line.0 }}</th>
          <td>{{ line.1 }}</td>
          <td>{{ line.3 }} days</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
